<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="basichttpbinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.60.162:89/nwind" binding="basicHttpBinding"
                bindingConfiguration="basichttpbinding" contract="IProductService"
                name="basichttpbinding" />
        </client>
    </system.serviceModel>
</configuration>